@model Tuple<WebBanHangAPI.Models.mvcModels.mvcSanPhamMatHangHSX, WebBanHangAPI.Models.mvcModels.mvcTSDienThoai, WebBanHangAPI.Models.mvcModels.mvcTSDongHo>
@{
    ViewBag.Title = "ShowProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Scripts/Library_js/fontawesome-free-5.14.0-web/css/all.min.css" rel="stylesheet" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}


<div class="container">
    <div class="header" style="width: 100%; height: 50px;">
        <h4>@Model.Item1.TenMH > @Model.Item1.TenHSX</h4>

    </div>
    <div class="row">
        <div class="col-md-5">

            <img src="@Model.Item1.Anh" style="width: 100% ; height: 500px;" />
        </div>
        <div class="col-md-7">

            <h3>@Model.Item1.TenSP</h3>
            <div>
                <h2 id="enMoney"></h2>

                <table style="width: 100%; font-family: arial, sans-serif;">
                    @if (Model.Item2 != null)
                    {
                        <tr>
                            <td>Màng hình</td>
                            <td>@Model.Item2.MangHinh</td>
                        </tr>
                        <tr>
                            <td>Hệ điều hành.</td>
                            <td>@Model.Item2.HeDieuHanh</td>
                        </tr>
                        <tr>
                            <td>Camera sau</td>
                            <td>@Model.Item2.CameraRaSau</td>
                        </tr>
                        <tr>
                            <td>Camera trước</td>
                            <td>@Model.Item2.CaMeraTruoc</td>
                        </tr>
                        <tr>
                            <td>Dung Lượng pin</td>
                            <td>@Model.Item2.DungLuongPin</td>
                        </tr>
                        <tr>
                            <td>Thẻ nhớ</td>
                            <td>@Model.Item2.TheNho</td>
                        </tr>
                        <tr>
                            <td>CPU</td>
                            <td>@Model.Item2.CPU</td>
                        </tr>
                    }
                    else if (Model.Item3 != null)
                    {
                        <tr>
                            <td>Đường kính</td>
                            <td>@Model.Item3.DuongKinh</td>
                        </tr>
                        <tr>
                            <td>Chất liệu dây</td>
                            <td>@Model.Item3.ChatLieuDay</td>
                        </tr>
                        <tr>
                            <td>Độ rộng dây</td>
                            <td>@Model.Item3.DoRongDay</td>
                        </tr>
                        <tr>
                            <td>Chống nước</td>
                            <td>@Model.Item3.ChongNuoc</td>
                        </tr>
                        <tr>
                            <td>Chất liệu mặt</td>
                            <td>@Model.Item3.ChatLieuMat</td>
                        </tr>
                        <tr>
                            <td>Gới tính</td>
                            <td>@Model.Item3.GoiTinh</td>
                        </tr>
                        <tr>
                            <td>Thời gian pin</td>
                            <td>@Model.Item3.ThoiGianPin</td>
                        </tr>

                    }
                    else
                    {
                        <tr>
                            <td style="font-size: 30px; color: #ff0000">Chưa có thông số sản phẩm</td>
                        </tr>
                    }

                </table>

            </div>


            <div style="margin-top: 20px;">
                <button class="btn btn-primary" style="float: left" id="plus-number"><i class="fas fa-plus-circle"></i></button>
                <input style=" float: left ;text-align: center ;height: 34px; background: #dddddd; border: none" value="1" type="number" id="quantity" name="quantity" min="1" max="5" autocomplete="off" readonly/>
                <button class="btn btn-primary" style="float: left " id="minus-number"><i class="fas fa-minus-circle"></i></button>

               
            </div>

            <div style="clear: left;" >
                <a style="margin-top: 20px;" id="btnCartPush" class="btn btn-default"><i class="fas fa-cart-plus"></i> Đặt hàng</a>
            </div>


        </div>
    </div>
</div>

@section scripts{
    <script>
        var x = @Model.Item1.DonGia;
        x = x.toLocaleString('vi', { style: 'currency', currency: 'VND' });
        var numberCart = document.getElementById('numbercart');
        document.getElementById('enMoney').innerHTML = x;

        var btcart = document.getElementById('btnCartPush');

        btcart.onclick = function (event) {
            var object = {};
            object.IDSP = "@Html.Raw(Model.Item1.IDSP)"
                object.TenSP = "@Html.Raw(Model.Item1.TenSP).ToString()";
            object.DonGia = @Html.Raw(Model.Item1.DonGia)
            object.Anh = "@Html.Raw(Model.Item1.Anh)"

            object.SoLuong = $("#quantity").val();

            debugger;
            $.ajax({
                type: "POST",
                url: "/ShareOutSide/PushCart",
                data: JSON.stringify(object),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (object) {
                    alert("them khong thanh công")
                },
                success: function (result) {
                   
                    NumberCart();
                    alert("Thanh Cong");

                }
            });
        };

        var plus = document.getElementById('plus-number');
        var minus = document.getElementById('minus-number');
        let number = document.getElementById('quantity');


        plus.onclick = function (event) {
            number.readOnly = true;
            if (number.value >= 5)
                return;

            var c = parseInt(number.value);

            number.value = c + 1;

        }

        minus.onclick = function (event) {
            number.readOnly = true;
            if (number.value <= 1)
                return;
            var c = parseInt(number.value);
            number.value = c - 1;
        }

        function NumberCart() {
            $.ajax({

                type: "GET",
                url: "/ShareOutSide/NumberCart",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (object) {
                    alert("Loi")
                },
                success: function (result) {
                    numberCart.innerHTML = result;

                }

            });


        }

        NumberCart();


    </script>
}


