<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>



    @Styles.Render("~/Content/stypes.css")

    <link href="~/Content/stypes.css" rel="stylesheet" />

    <link href="~/Scripts/Library_js/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet" />

    <link href="~/Scripts/Library_js/datatable-js/css.dataTables.min.css" rel="stylesheet" />
    <link href="~/Scripts/Library_js/File_export/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Scripts/Library_js/autocomplete-js/css-ui-autocomplete.css" rel="stylesheet" />


</head>
<body>
    <div class="container">
        <div class="menu">
            <div class="logo">
                <h2><i class="fas fa-bars"></i>Menu</h2>
            </div>
            <div class="menu-content">
                <ul>
                    <li><a href='@Url.Action("NhanVien","Home")'><i class="fas fa-user-circle"></i>Nhân Viên</a></li>
                    <li><a href='@Url.Action("MatHang","Home")'><i class="fab fa-buffer"></i>Mặt Hàng</a></li>
                    <li><a href="@Url.Action("NhaCungCap","Home")"><i class="fas fa-monument"></i>Nhà Cung Cấp</a></li>
                    <li><a href='@Url.Action("SanPham","Home")'><i class="fas fa-cubes"></i>Sản Phẩm</a></li>
                    <li><a href="@Url.Action("NhapKho", "Home")"><i class="fas fa-dolly"></i>Nhập Kho</a></li>
                    <li><a href="@Url.Action("KhoHang", "Home")"><i class="fas fa-home"></i>Kho Hàng</a></li>
                    <li><a href="@Url.Action("KhachHang", "Home")"><i class="fas fa-blind"></i>Khách Hàng</a></li>
                    <li><a href="@Url.Action("NhapHoaDon", "Home")"><i class="fas fa-file-invoice-dollar"></i>Nhập Hóa Đơn</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-header">
                <div class="content-header-right">
                    <div class="content-logout">
                        <ul>
                            <li><i class="fas fa-user"></i></li>
                            <li id="username"></li>
                            <li class="logout"><i title="Đăng Xuất" id="logout" data-url="@Url.Action("Login", "Home")" class="fas fa-sign-out-alt"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="content-main">
                <div class="page-title">
                    <ul>
                        <li><i class="fas fa-adjust"></i>Danh Mục</li>
                        <li><i class="fas fa-angle-double-right"></i></li>
                        <li><i class="fas fa-cubes"></i>Sản Phẩm</li>


                    </ul>
                </div>
                
                @RenderBody()
            
            </div>

        </div>
        <div class="footer"></div>
    </div>

</body>
</html>
